aiocron==0.6
aiohttp==1.2.0
async-timeout==1.1.0
beautifulsoup4==4.5.3
bidict==0.12.0
bs4==0.0.1
chardet==2.3.0
croniter==0.3.13
decorator==4.0.10
docopt==0.6.2
fuzzywuzzy==0.14.0
html5lib==0.999999999
irc3==0.9.8
lxml==3.7.2
multidict==2.1.4
oauthlib==2.0.1
peewee==2.8.5
praw==4.2.0
prawcore==0.6.0
python-dateutil==2.6.0
requests==2.12.4
six==1.10.0
update-checker==0.16
venusian==1.0
webencodings==0.5
yarl==0.8.1
